# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Pedram Navid
	email = pedram.navid@gmail.com
[commit]
	gpgsign = false
[gpg]
	program = gpg
[core]
	editor = nvim
	excludesfile = /Users/pedram.navid/.gitignore
	attributesFile = /Users/pedram.navid/.gitattributes
