# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Pedram Navid
	email = pedram@hey.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	attributesFile = ~/.gitattributes
[init]
	defaultBranch = main
[pull]
	rebase = false
[fetch]
	prune = true
[diff]
	colorMoved = zebra
