[submodule "nvim/.config/nvim/pack/minpac/opt/minpac"]
	path = nvim/.config/nvim/pack/minpac/opt/minpac
	url = git@github.com:k-takata/minpac.git
[submodule "nvim/.config/nvim/pack/minpac/start/LanguageClient-neovim"]
	path = nvim/.config/nvim/pack/minpac/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule "nvim/.config/nvim/pack/minpac/start/deoplete.nvim"]
	path = nvim/.config/nvim/pack/minpac/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "nvim/.config/nvim/pack/minpac/start/fzf"]
	path = nvim/.config/nvim/pack/minpac/start/fzf
	url = https://github.com/junegunn/fzf.gi
