* {
  border: none;
  border-radius: 0;
  font-family: RobotoMono Nerd Font;
  font-size: 14px;
  font-weight: 500;
}

window#waybar {
  background-color: #2E3440;
  color: #D8DEE9;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom: solid 0px #3B4252;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  color: #D8DEE9;
  border-radius: 5px;
}

#workspaces button.focused {
  background-color: #88C0D0;
  color: #2E3440;
  border-bottom: none;
}

#workspaces button.urgent {
  background-color: #BF616A;
}

widget > * {
  margin-top: 6px;
  margin-bottom: 6px;
}

.modules-left > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}

.modules-left > widget:first-child > * {
  margin-left: 6px;
}

.modules-left > widget:last-child > * {
  margin-right: 18px;
}

.modules-right > widget > * {
  padding: 0 12px;
  margin-left: 0;
  margin-right: 0;
  color: #2E3440;
  background-color: #88C0D0;
}

.modules-right > widget:first-child > * {
  border-radius: 5px 0 0 5px;
}

.modules-right > widget:last-child > * {
  border-radius: 0 5px 5px 0;
  margin-right: 6px;
}

#mode {
  background: transparent;
  color: #BF616A;
}

@keyframes blink {
  to {
    color: #D8DEE9;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #2E3440;
}

tooltip {
  border-radius: 5px;
  background: #3B4252;
}

tooltip label {
  color: #D8DEE9;
}
